.game-list-container {
    margin-top: 30px;
    justify-items: center;
}

.game-item {
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 8px;
    background-color: coral;
}

.join-button {
    background-color: #007bff;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.join-button:hover {
    background-color: #0056b3;
}

.game-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}